img {
  width: 60px;
  height: 65px;
  /* border-radius: 5px; */
}


.leyenda {
  font-weight: bold;
  font-size: x-large;
}

.cabecera {
  padding: 4px;
  margin-right: 5px;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-radius: 6px;
}


