<div class="row">
  <div class="col-12">
    <div class="card card-body">
      <!-- <h4 class="card-title">LibroeditarLibros</h4>
      <h5 class="card-subtitle">
        Lista de libros de la aplicación.
      </h5> -->

      <!------------------------------------------------------->
      <!----------------------- Buscador ---------------------->
      <!------------------------------------------------------->
      <div class="d-flex mb-3 mt-3">
        <input  type="text"
                class="form-control w-50"
                placeholder="Buscar por título, isbn, autor, ..."
                [(ngModel)]='textoFiltro'>
        <button class="btn btn-sm btn-secondary ml-auto" (click)="onAnyadirLibro()" >Añadir libro</button>
      </div>


      <app-confirmacion-accion-usuario
      [solicitudConfirmacion]= this.solicitudConfirmacion
      [mensajeConfirmacion]=this.libroActual?.titulo
      (confirmacionAceptada)="onEsAceptadaConfirmacion($event)"
      >
      </app-confirmacion-accion-usuario>

      <app-lista-libros
      [libros]="this.libros"
      (editarLibro)="onEditarLibro($event);"
      (borrarLibro)="onBorrarLibro($event)"
      ></app-lista-libros>

    </div>
  </div>
</div>



<modal #panelModal >
  <modal-header>

  </modal-header>
  <modal-content>
      ¿Desea borrar el libro seleccionado?
  </modal-content>
  <modal-footer>
    <button type="button" class="btn btn-sm btn-secondary mr-3" (click)="onAceptarVentanaModal()" >Aceptar</button>
    <button type="button" class="btn btn-sm btn-secondary" (click)="onCancelarVentanaModal()">Cancelar</button>
  </modal-footer>
</modal>
