<div class="container">
  <div class="row row-eq-height">
    <div class="col-5">
      <div class="panelListaSeleccion h-100">
        <ul class="list-group m-0 p-0">
          <div class="item" *ngFor="let item of this.itemsNoSeleccionados()" (dblclick)="onSeleccionar(item)" (click)="onToggleMarcar(item)" >

            <app-item-selector-multiple-doble-lista [marcado]="item.marcado" [camposConfig]=this.camposConfig [item]=item></app-item-selector-multiple-doble-lista>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-2 contenedorbotones" id="panelCentral">
      <div class="innerContenedorBotones">
        <button [disabled]="!this.hayItemsNoSeleccionadosMarcados()" class="btn btn-block btn-sm btn-secondary mb-1"  (click)="onSeleccionarMarcados()">Añadir</button>
        <button [disabled]="!this.hayItemsSeleccionadosMarcados()" class="btn btn-block btn-sm btn-secondary" (click)="onDeseleccionarMarcados()">Eliminar</button>
      </div>
    </div>

    <div class="col-5">
      <div class="panelListaSeleccion h-100">
        <ul class="list-group m-0">
          <div class="item"  *ngFor="let item of this.itemsSeleccionados()" (dblclick)="onDeseleccionar(item)" (click)="onToggleMarcar(item)" >
            <app-item-selector-multiple-doble-lista [marcado]="item.marcado" [camposConfig]=this.camposConfig [item]=item></app-item-selector-multiple-doble-lista>
          </div>
        </ul>
      </div>
    </div>
  </div>

</div>


