.f1
{
  height: 85vh;
}
.c2-f1{
 max-height: 100%;
}
.c1-f1{
  max-height: 100%;
 }

.f2-c2-f1 {
  margin-top: 12px;
  max-height: 100%;
  height: 91.2%;


}

.f1-c2-f1{

  height: 8.4%;

}

.cabeceraEntidadSeleccionada {
  background-color: #ddd;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.c1-f2-c2-f1 {
  height: 100%;

}


div::-webkit-scrollbar {
  width: 10px;
}

 /* Estilos barra (thumb) de scroll */
 div::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
div::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

div::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
 div::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.panelListaSeleccion::-webkit-scrollbar-track:hover,
.panelListaSeleccion::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
