

.item {
  background-color:white;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  padding:2px;

}

.marcado {
  border: 2px;
  background-color:rgb(158, 207, 248);
}

div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

img {

  height: 45px;
  border-radius: 3px;
}
