
<li [class]="{marcado: this.marcado}" class="list-group-item item flex" >

  <div class="d-flex">
    <div class="p-0">

      <img *ngIf="this.item[this.camposConfig.imagen]"  class="p-0" [src]='this.item[this.camposConfig.imagen]' alt="user">
      <img *ngIf="!this.item[this.camposConfig.imagen]"  class="p-0" src="assets/images/users/1.jpg" alt="user">

    </div>

    <div class="pl-2">
      <div class="mb-1">{{ this.item[this.camposConfig.texto] }}</div>
      <div class="small font-italic">{{ this.item[this.camposConfig.leyenda] }}</div>
    </div>



  </div>
</li>

