<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">BitCoin / Ethereum / Ripple</h4>
                <h5 class="card-subtitle">Overview of Latest Month</h5>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- title -->
        <div class="d-flex flex-column w-100" id="chart">
            <apx-chart [series]="bitcoinChartOptions.series" [chart]="bitcoinChartOptions.chart"
                [xaxis]="bitcoinChartOptions.xaxis" [yaxis]="bitcoinChartOptions.yaxis"
                [grid]="bitcoinChartOptions.grid" [stroke]="bitcoinChartOptions.stroke"
                [tooltip]="bitcoinChartOptions.tooltip" [dataLabels]="bitcoinChartOptions.dataLabels"
                [legend]="bitcoinChartOptions.legend" [colors]="bitcoinChartOptions.colors"
                [fill]="bitcoinChartOptions.fill" [markers]="bitcoinChartOptions.markers">
            </apx-chart>
        </div>
    </div>
</div>