<!-- <div class="row mb-3">
  <div class="col-12">
    <div ngbDropdown class="w-100" id="selectorTipoEntidad">
      <button class="btn btn-outline-primary w-100 m-0" id="dropdownBasic1" ngbDropdownToggle>
        {{this.tipoEntidadSeleccionada}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1 w-100">
        <button class="w-100" *ngFor="let tipoEntidad of this.TiposEntidadesHorario | keyvalue" class="dropdown-item" (click)="onSeleccionarTipoEntidad(tipoEntidad.value)">Horarios de {{ tipoEntidad.value }}</button>
      </div>
    </div>
  </div>
</div> -->




<div class="row mb-3">
  <div class="col-12">

    
    <div class="btn-group mr-3 w-100">

      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>

        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button
          *ngFor="let tipoEntidad of this.TiposEntidadesHorario | keyvalue" class="dropdown-item"
          (click)="onSeleccionarTipoEntidad(tipoEntidad.value)">Horarios de {{ tipoEntidad.value }}</button>

        </div>
      </div>
      <button type="button" class="btn btn-primary" disabled>
        H. {{this.tipoEntidadSeleccionada}}</button>
    </div>
</div>
</div>
