<div class="form-check">
  <input class="form-check-input" type="radio" name="radioFiltroSemanas" [(ngModel)]="this.opcionSeleccionada" (ngModelChange)="onChange($event)" id="todas" value="todas" >
  <label class="form-check-label" for="todas">
    Anual
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="radioFiltroSemanas" [(ngModel)]="this.opcionSeleccionada" (ngModelChange)="onChange($event)" id="semana" value="semana"  >
  <label class="form-check-label" for="semana">
    Semanal
  </label>

<button (click)="d.toggle()" [disabled]="this.opcionSeleccionada==='todas'" >
  <span class="rangoSemana mr-2" [ngClass]="{'Gris': this.opcionSeleccionada === 'todas'}"> {{ this.convertirNgbDateEnFecha(this.rangoSemanaSeleccionada.inicio)| date: "dd/MM/yyyy"}} - {{ this.convertirNgbDateEnFecha(this.rangoSemanaSeleccionada.fin) | date: "dd/MM/yyyy"}}</span>
  <i class="fa fa-calendar fa-lg" aria-hidden="true" ></i>
</button>


  <ng-template #t let-date let-focused="focused">
    <span class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>

  <!-- Es un elemento auxiliar para recoger el valor seleccionado
  No aparecerá en la interfaz. -->
  <input type="hidden"
  class="form-control" placeholder="yyyy-mm-dd"
  name="dp"
  ngbDatepicker
  (dateSelect)="onSeleccionarFecha($event)"
  [dayTemplate]="t"
  outsideDays="hidden"
  #d="ngbDatepicker"
  >
</div>
  <div>

  </div>

