<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center m-b-20">
            <div>
                <h1 class="font-bold m-b-0">$6,890.68</h1>
                <span>Overview of email campaigns</span>
            </div>
            <div class="ml-auto">
                <i class="mdi mdi-wallet text-info display-5"></i>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non pharetra ligula, sit amet laoreet
            arcu.Integer.</p>
        <a href="javascript: void(0)" class="font-bold">Last Month Summary</a>
    </div>
    <div class="m-t-40 d-flex flex-column">
        <apx-chart [series]="COChartOptions.series" [chart]="COChartOptions.chart"
            [dataLabels]="COChartOptions.dataLabels" [legend]="COChartOptions.legends" [colors]="COChartOptions.colors"
            [stroke]="COChartOptions.stroke" [labels]="COChartOptions.labels" [tooltip]="COChartOptions.tooltip"
            [markers]="COChartOptions.markers"></apx-chart>
    </div>
</div>