<div class="row h-100 ">

  <div class="col-12 selectorEntidades d-flex flex-column">


    <div class="row divEntidades">
      <div class="col-12 h-100">
        <app-selector-lista-simple
          [items]="this.entidades"
          [itemSeleccionado]='this.entidadHorarioSeleccionada'
          [camposConfig]="{ texto: 'descripcion', imagen: 'imagen', leyenda: 'detalle'}"
          (SeleccionItems)= "onSeleccionarItem($event)">
        </app-selector-lista-simple>
      </div>

    </div>
</div>

</div>


