
<div class="row h-100 ">

  <div class="col-12 selectorEntidades d-flex flex-column">


    <div class="row divEntidades">
      <div class="col-12 h-100">
        <app-selector-lista-simple *ngIf="this.tipoEntidadSeleccionada"
          [items]="this.entidades"
          [itemSeleccionado]=this.entidadHorarioSeleccionada
          [colorSeleccion]= this.tipoEntidadSeleccionada?.color
          [camposConfig]=this.obtenerCamposConfig()
          (SeleccionItems)= "onSeleccionarItem($event)">
        </app-selector-lista-simple>
      </div>

    </div>
</div>

</div>




