<div class="row h-100 ">

  <div class="col-12 selectorEntidades d-flex flex-column">

    <!-- Selector del tipo de entidad -->
    <div class="row mb-1">
      <div class="col-12 d-flex flex-row-reverse">
        <div ngbDropdown  id="selectorTipoEntidad">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle >
            Horarios de {{ this.tipoEntidadSeleccionada}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngFor="let tipoEntidad of this.tipoEntidadesHorario" class="dropdown-item" (click)="onSeleccionarEntidad(tipoEntidad)">{{tipoEntidad}}</button>

          </div>
        </div>
      </div>
    </div>

    <!-- Selector de una entidad -->
    <div class="row flex-grow-1 divEntidades">
      <div class="col-12">
        <app-selector-lista-simple
          [items]="this.entidades"
          [camposConfig]="{ texto: 'descripcion', imagen: 'imagen', leyenda: 'detalle'}"
          (SeleccionItems)= "onItemsSeleccionados($event)">
        </app-selector-lista-simple>
      </div>

    </div>
</div>

</div>


