<div class="row" class="gestionHorario">

  <div class="seccion seccionSelectorTipoEntidad">
    <app-selector-tipo-entidad></app-selector-tipo-entidad>
  </div>

  <div class="seccion seccionCabeceraEntidadSeleccionada">
    <app-cabecera-entidad-horario></app-cabecera-entidad-horario>
  </div>

  <div class="seccion seccionSelectorPlantilla">
    <app-selector-plantillas></app-selector-plantillas>
  </div>

  <div class="seccion seccionSelectorSemanas">
    <app-selector-semanas></app-selector-semanas>
  </div>

  <div class="seccion seccionSelectorEntidad">
    <app-selector-entidades></app-selector-entidades>
  </div>

  <div class="seccion seccionActividadesEntidadSeleccionada">
    <app-mostrar-actividades (actividadSeleccionadaEvent)= 'onActividadSeleccionada($event)'></app-mostrar-actividades>
  </div>

</div>

<modal #panelModal (onOpen)="onAbrirVentanaModal()" (onClose)="onCerrarVentanaModal()" >
    <!-- Cabecera -->
    <modal-header>
       <h3>Detalle de la actividad</h3>
    </modal-header>

    <!-- Cuerpo -->
    <modal-content>
        <app-gestionar-actividad>

        </app-gestionar-actividad>

    </modal-content>

    <!-- Pie -->
    <modal-footer>
        <!-- <button type="button" class="btn btn-sm btn-secondary mr-3" (click)="onAceptarVentanaModal()" >Aceptar</button> -->
        <button type="button" class="btn btn-sm btn-secondary" (click)="onCerrarVentanaModal()">Cerrar</button>
    </modal-footer>

</modal>
