.gestionHorario {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 20fr;
  gap: 10px;
  overflow-y: hidden;

}


.modal-body {
  padding: 10px;
}
.modal-content {
  border-radius: 7px 7px 7px 7px;
}
.modal-header {
  background-color: #ddd;
  padding: 7px;
  border-radius: 7px 7px 0px 0px;


}

.modal-footer{
  background-color: #ddd;
  padding: 2px;
  border-radius: 0px 0px 7px 7px;
}

.modal-header h3 {
  margin:0px;
  margin-top: 4px;
  margin-left: 4px;
}



.seccionSelectorTipoEntidad {
  grid-column-start: 1;
  grid-column-end: 3;
}

.seccionCabeceraEntidadSeleccionada{
  grid-column-start: 3;
  grid-column-end: 8;
  border-right: solid 1px;
  border-left: solid 1px;
  padding-left: 6px;

}

.seccionSelectorPlantilla{
  grid-column-start: 8;
  grid-column-end: 10;
  padding: 3px;
  border-right: solid 1px;
}

.seccionSelectorSemanas{
  grid-column-start: 10;
  grid-column-end: 13;
  border-right: solid 1px;
}

.seccionSelectorEntidad{
  grid-column-start: 1;
  grid-column-end: 3;
  overflow-y:hidden;
  overflow-x: hidden;
}

.seccionActividadesEntidadSeleccionada {
  grid-column-start: 3;
  grid-column-end: 13;
  overflow-y:auto;

}
