<div class="card">
    <div class="card-body">
        <h4 class="card-title">Product Sales</h4>
        <h5 class="card-subtitle">Total Earnings of the Month</h5>
        <div class="d-flex flex-column">
            <apx-chart [series]="productsalesChartOptions.series" [chart]="productsalesChartOptions.chart"
                [dataLabels]="productsalesChartOptions.dataLabels" [legend]="productsalesChartOptions.legends"
                [colors]="productsalesChartOptions.colors" [stroke]="productsalesChartOptions.stroke"
                [labels]="productsalesChartOptions.labels" [tooltip]="productsalesChartOptions.tooltip"
                [plotOptions]="productsalesChartOptions.plotOptions" [xaxis]="productsalesChartOptions.xaxis"
                [yaxis]="productsalesChartOptions.yaxis" [fill]="productsalesChartOptions.fill"></apx-chart>
        </div>
    </div>
</div>