.item {
  background-color:transparent;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-style:solid;
  padding-top: 3px;
  padding-bottom: 1px;
  margin-top: 5px;

}

.marcado {
  border: 2px;
  background-color:rgb(158, 207, 248);
}

div {
  min-width: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

img {


  width: 40px;
  height: 45px;
  border-radius: 5px;
}
