.item {
  background-color:transparent;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-style:solid;
  border-width: 0px 0px 0px 5px;
  padding-top: 3px;
  padding-bottom: 1px;
  margin-bottom: 5px;

}

.marcado {
  -webkit-box-shadow: inset -4px -5px 6px -17px rgba(0,0,0,0.68);
  -moz-box-shadow: inset -4px -5px 6px -17px rgba(0,0,0,0.68);
  box-shadow: inset -4px -5px 6px -17px rgba(0,0,0,0.68);
   border-left-style: solid;
  border-left-width: 8px;
}



div {
  min-width: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

img {

  width: 40px;
  height: 45px;
  /* border-radius: 5px; */
}

.leyenda {
  font-weight: bold;
  font-size: medium;
}

.imagen {
  width: 200;
  height: 300;
}
