<li *ngIf="this.modelo === 'lista'" [class]="{'marcado': this.marcado}" class="list-group-item item" [ngStyle]="{'border-left-color': this.marcado? this.colorMarcado:null}" >

  <div class="row d-flex flex-nowrap">
    <div *ngIf="this.conFoto" class="imagen p-0">
      <img *ngIf="!this.item[this.camposConfig.imagen]" class="p-0 img-form" src='assets/images/general/NoPhoto.png' alt="user">
      <img *ngIf="this.item[this.camposConfig.imagen]" class="p-0 img-form" [src]='this.item[this.camposConfig.imagen]' alt="user">
    </div>

    <div class="pl-2 flex-grow-1">
      <div class="mb-1 leyenda">{{ this.item[this.camposConfig.texto] }}</div>
      <div class="small font-italic">{{ this.item[this.camposConfig.leyenda] }}</div>
    </div>

  </div>
</li>

<div *ngIf="this.modelo === 'celdas'" class="card" style="width: 100px">

    <img *ngIf="this.conFoto && !this.item[this.camposConfig.imagen]" style="width: 100%; height: auto;" class="card-img-top" src='assets/images/general/NoPhoto.png' alt="user">
    <img *ngIf="this.conFoto && this.item[this.camposConfig.imagen]" style="width: 100%; height: auto;" class="card-img-top"  [src]='this.item[this.camposConfig.imagen]' alt="user">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a longer card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>

  </div>

</div>



