<div class="row">
  <div class="col-12">
    <div class="card card-body">



      <!------------------------------------------------------->
      <!----------------------- Buscador ---------------------->
      <!------------------------------------------------------->
      <div class="d-flex flex-row-reverse mb-3 mt-3">
        <button class="btn btn-sm btn-secondary ml-2" (click)="onAnyadirUsuario()" >Add User</button>
        <app-cadenabusqueda class='flex-grow-1' [tiempoEspera]=700 [textoIndicativo]="'Buscar en apellidos, nombre, email,...'" (cadenaBusqueda)="OnChangeCadenaBusqueda($event)"></app-cadenabusqueda>
      </div>


      <app-confirmacion-accion-usuario
      [solicitudConfirmacion]= this.solicitudConfirmacion
      [mensajeConfirmacion]=this.usuarioActual?.nombre
      (confirmacionAceptada)="onEsAceptadaConfirmacion($event)"
      >

      </app-confirmacion-accion-usuario>
      <app-lista-usuarios
      [usuarios]="this.usuarios"
      (editarUsuario)="onEditarUsuario($event)"
      (borrarUsuario)="onBorrarUsuario($event)"
      ></app-lista-usuarios>

    </div>
  </div>
</div>



<modal #panelModal >
  <modal-header>

  </modal-header>
  <modal-content>
      ¿Desea borrar el usuario seleccionad?
  </modal-content>
  <modal-footer>
    <button type="button" class="btn btn-sm btn-secondary mr-3" (click)="onAceptarVentanaModal()" >Aceptar</button>
    <button type="button" class="btn btn-sm btn-secondary" (click)="onCancelarVentanaModal()">Cancelar</button>
  </modal-footer>
</modal>
