<app-cadenabusqueda *ngIf="this.anyadirBuscador" [tiempoEspera]=1000 [textoIndicativo]="'Introducir'" (cadenaBusqueda)="OnChangeCadenaBusqueda($event)"></app-cadenabusqueda>

<div class="mt-2 panelListaSeleccion">
  <ul class="list-group m-0 p-0">
    <div class="item" *ngFor="let item of this.itemsFiltrados" (click)="onSeleccionar(item)" >
      <app-item-selector-lista-simple
      [conFoto]="this.camposConfig.imagen"
      [marcado]="item === this.itemSeleccionado"
      [colorMarcado]=this.colorSeleccion
      [camposConfig]=this.camposConfig
      [item]=item></app-item-selector-lista-simple>
    </div>
  </ul>
</div>


