<div class="panelActividad">
  <div class="cabeceraActividad" style="display: flex;"*ngIf="this.modoPanelActividad !== this.EnumModosPanelActividad.MOSTRAR" >
      <h1>Editar actividad</h1>
    <button _ngcontent-cls-c164="" type="button" class="btn btn-sm btn-secondary mr-3 ml-auto" style="height: min-content; align-self: center; text-align: right;" (click)="onAceptarEdicionCreacionActividad()">Aceptar</button>
    <button _ngcontent-cls-c164="" type="button" class="btn btn-sm btn-secondary" style="height: min-content; align-self: center;" (click)="onCancelarEdicionCreacionActividad()">Cancelar</button>
  </div>
<div *ngIf="this.replicaActividad" class="row"  class="datosActividad">
  <div class="seccionDatosActividad marcoTemporal">
      <table>
        <tbody>
          <tr>
            <td>
              <p class="font-18"> Tipo de actividad:</p>
            </td>
            <td>
              <i  *ngIf="this.modoPanelActividad !== this.EnumModosPanelActividad.MOSTRAR"
                class="fas font-18 fa-edit ml-auto">
              </i>
            </td>
            <td>
              <p class="font-bold font-18">Clase colectiva de una materia</p>
            </td>

          </tr>

          <tr>
            <td >
              <p class="font-18">Sesión:</p>
            </td>
            <td>
              <i  *ngIf="this.modoPanelActividad !== this.EnumModosPanelActividad.MOSTRAR"
                class="fas fa-1x fa-edit ml-auto font-18"
                (click)="this.onAbrirSelector(EnumEntidadMantenimiento.PLANTILLAS)">
              </i>
            </td>
            <td>
              <p class="font-bold font-18">
                {{  this.replicaActividad.sesion? this.obtenerDenominacionDiaSemana(replicaActividad?.sesion.diaSemana)+ ' desde las '+ this.replicaActividad?.sesion.horaInicio +' hasta las ' +this.replicaActividad?.sesion.horaFin : '[No definida]' }}
              </p>
            </td>

          </tr>

          <tr >
            <td>
              <p class="font-18">Periodo de vigencia:</p>
            </td>
            <td>
              <i *ngIf="this.modoPanelActividad !== this.EnumModosPanelActividad.MOSTRAR"
              class="fas font-18 fa-edit ml-auto"
              (click)="this.onAbrirSelector(EnumEntidadMantenimiento.PERIODOSVIGENCIA)">

              </i>
            </td>
            <td>
              <p *ngIf="this.replicaActividad.periodoVigencia" class="font-bold form-control-static font-18">
                {{ this.replicaActividad.periodoVigencia.denominacion + ' ('}}
                {{ this.replicaActividad.periodoVigencia.fechaInicio | date: 'dd/MM/yyyy' }} - {{this.replicaActividad.periodoVigencia.fechaFin | date: 'dd/MM/yyyy' }} )
              </p>
              <p *ngIf="!this.replicaActividad.periodoVigencia" class="font-bold form-control-static font-18">
                [No definido]
              </p>

            </td>

          </tr>

          <tr>
            <td>
              <p class="font-18">Dependencia:</p>
            </td>
            <td>
              <i *ngIf="this.modoPanelActividad !== this.EnumModosPanelActividad.MOSTRAR"
              class="fas font-18 fa-edit ml-auto"
              (click)="this.onAbrirSelector(EnumEntidadMantenimiento.DEPENDENCIAS)">
            </i>
            </td>
            <td>
              <p class="font-bold font-18">
                {{ this.replicaActividad.dependencia? this.replicaActividad.dependencia.denominacionLarga+' ('+ this.replicaActividad?.dependencia.codigo +')':'[No definida]'}}
              </p>
            </td>

          </tr>
        </tbody>

      </table>
  </div>

  <div class="seccionDatosActividad accesoAlumnado">
    <div class="row">
      <div class="col-12 d-flex">
        <div class="ml-auto" (click)="onMostrarAlumnos()">
          <i class="fas fa-2x fa-users ml-auto"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="seccionDatosActividad docentes">

    <div>
      <div  class="d-flex cabecera align-items-center border-bottom">
        <p class="mb-0 py-1 font-18">Docentes
          <span class="ml-3">
            <i *ngIf="this.modoPanelActividad !== this.EnumModosPanelActividad.MOSTRAR"
            class="fas fa-1x fa-edit ml-auto"
            (click)="this.onAbrirSelector(EnumEntidadMantenimiento.DOCENTES)">
            </i>
          </span>
        </p>
      </div>
    </div>


    <div class="selector">
      <app-selector-lista-simple
      [anyadirBuscador]="false"
      [items]="this.entidadesHorarioDocentes()"
      [itemSeleccionado]=''
      [camposConfig]="{ texto: 'descripcion', imagen: 'imagen', leyenda: 'detalle'}"
      >
      </app-selector-lista-simple>
    </div>
  </div>

  <div class="seccionDatosActividad grupos">

    <div>
      <div  class="d-flex cabecera align-items-center border-bottom">
        <p class="mb-0 py-1 font-18">Grupos
          <span class="ml-3">
            <i *ngIf="this.modoPanelActividad !== this.EnumModosPanelActividad.MOSTRAR"
            class="fas fa-1x fa-edit ml-auto"
            (click)="this.onAbrirSelector(EnumEntidadMantenimiento.GRUPOS)">
            </i>
          </span>
        </p>
      </div>
    </div>
    <div class="selector">
      <app-selector-lista-simple
      [anyadirBuscador]="false"
      [items]="this.entidadesHorarioGrupos()"
      [itemSeleccionado]=''
      [camposConfig]="{ texto: 'descripcion', leyenda: 'detalle'}"
      >
    </app-selector-lista-simple>
    </div>
  </div>

  <div class="seccionDatosActividad asignaturas">

    <div>
      <div  class="d-flex cabecera align-items-center border-bottom">
        <p class="mb-0 py-1 font-18">Asignaturas
          <span class="ml-3">
            <i *ngIf="this.modoPanelActividad !== this.EnumModosPanelActividad.MOSTRAR"
            class="fas fa-1x fa-edit ml-auto"
            (click)="this.onAbrirSelector(EnumEntidadMantenimiento.ASIGNATURAS)">
            </i>
          </span>
        </p>
      </div>
    </div>

    <div class="selector">
      <app-selector-lista-simple
      [anyadirBuscador]="false"
      [items]="this.replicaActividad.asignaturas"
      [itemSeleccionado]=''
      [camposConfig]="{ texto: 'denominacionLarga', leyenda: 'codigo'}"
      >
      </app-selector-lista-simple>
    </div>

  </div>

  <div class="seccionDatosActividad informacionAdicional">

    <table>
      <tbody>
        <tr>
          <td>
            <p class="font-18"> Detalle:</p>
          </td>
          <td>
            <i *ngIf="this.modoPanelActividad !== this.EnumModosPanelActividad.MOSTRAR"
            class="fas font-18 fa-edit ml-auto"
            (click)="this.onAbrirSelector(EnumEntidadMantenimiento.DETALLE)">
            </i>
          </td>
          <td>
            <p class="font-bold font-18">
              {{this.replicaActividad?.detalleActividad}}
            </p>
          </td>

        </tr>

      </tbody>

    </table>

  </div>
</div>

</div>



<!-- ---------------------------------------------------------------
Definición del panel modal para la selección de entidades
--------------------------------------------------------------- -->
<modal  *ngIf="this.replicaActividad" #panelSelector (onOpen)="onAbrirVentanaModal()" (onClose)="onCerrarVentanaModal()" >
  <!-- Cabecera -->
  <modal-header>
     <h3>{{this.textoCabeceraPanelMantenimiento}}</h3>
  </modal-header>

  <!-- Cuerpo -->
  <modal-content>

    <div class="contenido">

      <app-editor-texto-plano *ngIf="this.entidadMantenimiento === EnumEntidadMantenimiento.DETALLE"
      (textoSalida)="onSeleccionarItem($event)"></app-editor-texto-plano>


      <!-- Se muestra un selector simple de tipo lista. -->
      <app-selector-lista-simple *ngIf="this.listaSelectores && this.entidadMantenimiento && this.modalidadMantenimiento === EnumModalidadMantenimiento.SELECCIONSIMPLE"
      [items]="this.datosSelectorActivo"
      [colorSeleccion]="'#222222'"
      [camposConfig]="{texto: 'texto', leyenda: 'leyenda' }"
      [itemSeleccionadoPorDefecto]="this.elementoPorDefectoEnSelectorSimple"
      [admiteSeleccionInterna]=true
      [modelo]="'lista'"
      (SeleccionItems)="onSeleccionarItem($event)"
      ></app-selector-lista-simple>

      <!-- Se muestra un selector simple de tipo celdas -->
      <app-selector-lista-simple *ngIf="this.replicaActividad.alumnos && !this.modalidadMantenimiento && !this.entidadMantenimiento"
      [items]="this.replicaActividad.alumnos"
      [camposConfig]="{texto: 'nombre', imagen:'foto' }"
      [modelo]="'celdas'"
      ></app-selector-lista-simple>


      <app-selector-multiple-doble-lista *ngIf="this.listaSelectores && this.entidadMantenimiento && this.modalidadMantenimiento === EnumModalidadMantenimiento.SELECCIONMULTIPLE"
      [items]="this.datosSelectorActivo"
      [itemsPreseleccionados]="this.elementosPorDefectoEnSelectorMultiple"
      [camposConfig]="{texto: 'texto', leyenda: 'leyenda', imagen:'imagen' }"
      (SeleccionItems)= "onSeleccionarItem($event)"
      ></app-selector-multiple-doble-lista>

    </div>



  </modal-content>


  <!-- Pie -->
  <modal-footer>
      <!-- <button type="button" class="btn btn-sm btn-secondary mr-3" (click)="onAceptarVentanaModal()" >Aceptar</button> -->

      <button type="button" class="mr-2 btn btn-sm btn-secondary" (click)="onAceptarVentanaModal()">Aceptar</button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="onCancelarVentanaModal()">Cancelar</button>
  </modal-footer>

</modal>



