.datosActividad {
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15% 5% 65% 15%;
  gap: 8px;
  overflow-y:initial;
  background-color: white;

}

.fas:hover {
  cursor: pointer;
  color: black;
}

.fas
 {
   color: grey;
 }

.cabecera {
  height: 7%;

}

.selector {
  height: 93%;
}

.item {
  background-color: transparent;
    border-radius: 4px;

    border-style: solid;
    border-width: 3px;



}

.seccion {
  background-color: white;
}

/* .seccionDatosActividad {
  padding: 5px;
  border: 5px solid tomato;
  border-radius: 5px;

} */

p {
  margin: 0px;
}

.marcoTemporal {
  grid-column-start: 1;
  grid-column-end: 13;
  padding-left: 3px;
}

.accesoAlumnado {
  grid-column-start: 1;
  grid-column-end: 13;
}

.modal-header {
  padding: 8px;
}

.docentes {
  grid-column-start: 1;
  grid-column-end: 5;
  padding-left: 3px;

}

.grupos {
  grid-column-start: 5;
  grid-column-end: 9;
  /* border-left: solid 1px; */
  /* border-color: rgb(216, 215, 215); */
  padding-left: 6px;

}

.asignaturas {
  grid-column-start: 9;
  grid-column-end: 13;
  overflow-y:hidden;
  overflow-x: hidden;
  /* border-left: solid 1px; */
  /* border-color: rgb(216, 215, 215); */
  padding-left: 6px;
}

.informacionAdicional {
  grid-column-start: 1;
  grid-column-end: 13;


}


.listaAlumnos {
  height: 45vh;


}
