
<!-- row -->
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Autenticación</h4>
              <h6 class="card-subtitle"> Registro de nuevo usuario</h6>
              <form [formGroup] = "form" class="m-t-30">
                <div class="row">
                  <!-- Sessión: Datos  -->
                  <div class="col-9">
                    <div class="form-group">
                      <label for="Nombre">Nombre</label>
                      <input  type="text"
                              class="form-control"
                              id="nombre"
                              placeholder="nombre"
                              formControlName="nombre">
                    </div>
                    <div class="form-group">
                      <label for="primerApellido">Primer apellido</label>
                      <input  type="text"
                              class="form-control"
                              id="primerApellido"
                              placeholder="Primer apellido"
                              formControlName="primerApellido">
                    </div>
                    <div class="form-group">
                      <label for="primerApellido">Segundo apellido</label>
                      <input  type="text"
                              class="form-control"
                              id="segundoApellido"
                              placeholder="Segundo apellido"
                              formControlName="segundoApellido">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Correo electrónico</label>
                      <input  type="email"
                              class="form-control"
                              id="exampleInputEmail1"
                              aria-describedby="emailHelp"
                              placeholder="Introduzca su correo electrónico"
                              formControlName="email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input  type="password"
                              class="form-control"
                              id="exampleInputPassword1"
                              placeholder="Introduzca su contraseña"
                              formControlName="password">
                  </div>

                  </div>


                  <!-- Sessión: Foto -->
                  <div class="col-3 d-flex align-items-stretch">
                    <div class="row el-element-overlay">
                      <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="card w-50 ">
                          <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                              <img class="p-10" *ngIf="!this.fotoActual" src="../../../../assets/images/nophoto.png" alt="user">
                              <img class="p-10" *ngIf="this.fotoActual" [src]="this.fotoActual" alt="user">

                              <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                  <li class="el-item"><a href="javascript:void(0);" class="btn default btn-outline el-link"><i class="icon-link"></i></a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                              <div>
                                <button class="btn btn-rounded btn-block btn-xs btn-outline-secondary" (click)="openModal(panelModal)">Subir imagen</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>


                  </div>


                </div>

                <!-- Sección: botones del formulario -->
                <div class="row">
                  <div class="col-12 ">
                    <button type="submit" class="btn btn-sm btn-secondary mr-3" (click)="onAceptar()">Aceptar</button>
                    <button type="submit" class="btn btn-sm btn-secondary" (click)="onCancelar()" >Cancelar</button>
                  </div>

                </div>
              </form>
          </div>
      </div>
  </div>

</div>

<!-- Panel de la venta modal -->
<ng-template #panelModal let-modal>

  <!-- Cabecera -->
  <div class="modal-header">
    <h4 class="modal-title">Subir foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Cuerpo -->
  <div class="modal-body">
  <div >
    <app-obtener-imagen (imagenProcesadaEvent)="onImagen($event)" ></app-obtener-imagen>
   </div>
  </div>

  <!-- Pie -->
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary mr-3" (click)="modal.dismiss('Cross click')" >Aceptar</button>
    <button type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
  </div>
</ng-template>













