
<div class="table-responsive">

  <table class="table  mb-0 no-wrap v-middle">
    <thead>
      <tr>
        <th scope="col"> Foto</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombre</th>
        <th scope="col">email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of this.usuarios">
        <td>
          <div class="d-flex">
            <img *ngIf="!this.usuario.foto" class="rounded-circle" src="assets/images/users/1.jpg" height="50px" width="50px">
            <img *ngIf="this.usuario.foto" class="rounded-circle" [src]='usuario.foto' height="50px" width="50px">
            <!-- <div class="ml-3">
              <p class="font-medium mb-0">{{ usuario.nombre }}</p>
              <small>{{usuario.email}}</small>
            </div> -->
          </div>
        </td>
        <td>
          {{ usuario.primerApellido + ' ' + usuario.segundoApellido}}
        </td>
        <td>

          {{ usuario.nombre}}

        </td>
        <td>
          {{ usuario.email}}

        </td>
        <td>
          <a class="link mr-2" placement="top" ngbTooltip="Edit" (click)="OnEditar(usuario)" >
          <i-feather name="edit-2"></i-feather>
        </a>
        <a href="javascript: void(0);" class="link"  placement="top"
          ngbTooltip="Delete" (click)="this.OnBorrar(usuario)">
          <i-feather name="trash-2"></i-feather>
        </a>
        </td>
      </tr>


    </tbody>
  </table>
</div>
